/**
 * Menu Style
 */
@import '../variables/index.scss';

.at-menu {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $menu-text-color;
  font-size: $menu-font-size;
  background-color: $menu-bg-color-light;

  /* element */
  &__item {
    position: relative;
    display: block;
    list-style: none;
    transition: color .3s;
    cursor: pointer;
    z-index: 1;

    i {
      margin-right: 8px;
    }
  }
  &__item-group {
    padding: 0;
    line-height: 1;

    &-title {
      @include ellipsis();
      width: 100%;
      padding: $menu-group-title-padding;
      color: $menu-group-title-text-color;
      font-size: $menu-group-title-font-size;
      line-height: 1;
      white-space: nowrap;
      overflow: hidden;
      transition: all .3s;
      cursor: initial;
    }
    &-list {
      padding: 0;
    }
  }
  &__submenu-title {
    position: relative;
    cursor: pointer;

    i {
      margin-right: 8px;
    }
  }
  .at-dropdown-menu {
    max-height: none;

    .at-menu__item {
      @include ellipsis();
      width: 100%;
      padding: $menu-dropdown-item-padding;
      font-size: $menu-dropdown-item-font-size;
      line-height: 1.5;
      white-space: nowrap;
      transition: all .3s;
      cursor: pointer;
    }
  }

  /* modifier */
  &--horizontal,
  &--vertical,
  &--inline {
    z-index: auto;
  }

  &--horizontal,
  &--vertical {
    .at-menu__item-group-list .at-menu__item {
      float: none;
      padding: $menu-group-item-padding;

      &:hover {
        &::after {
          display: none;
        }
      }
      &.at-menu__item--active {
        color: $menu-item-active-text-color;
        font-weight: bold;
        background-color: $menu-item-active-bg-color;

        &::after {
          display: none;
        }
      }
    }
  }

  &--horizontal {
    position: relative;
    height: $menu-height-horizontal;
    line-height: $menu-height-horizontal;
    border-bottom: 1px solid $border-color-lighter;

    .at-menu__item,
    .at-menu__submenu {
      position: relative;
      float: left;
      padding: 0 16px;

      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: $brand-blue-500;
        transform: scaleX(0);
        transition: all .15s;
      }
    }
    .at-menu__item {
      &:hover,
      &.at-menu__item--active {
        color: $brand-blue-500;

        &::after {
          transform: scaleX(1);
        }
      }
    }
    .at-menu__submenu {
      &:hover,
      &.at-menu__submenu--active {
        &::after {
          transform: scaleX(1);
        }
        .at-menu__submenu-title {
          color: $brand-blue-500;
        }
      }
      .at-menu__item {
        display: block;
        float: none;

        &:hover,
        &.at-menu__item--active {
          &::after {
            display: none;
          }
        }
      }
      .at-menu__submenu {
        display: block;
        float: none;
        padding: 12px 16px;
        height: inherit;
        font-size: $select-dropdown-font-size-base;
        line-height: 1.5;

        &:hover {
          &::after {
            display: none;
          }
        }
        .at-menu__submenu {
          &-title {
            padding-right: 16px;

            i:last-child {
              position: absolute;
              right: 0;
              top: 50%;
              margin-top: -6px;
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }

  &--vertical {
    position: relative;
    border-right: 1px solid $border-color-lighter;

    .at-menu__item,
    .at-menu__submenu {
      position: relative;
      display: block;
      padding: 12px 16px;
      padding-left: 0;

    }
    > .at-menu__item,
    > .at-menu__submenu {
      &::after {
        content: '';
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        background: #6190E8;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 1px 0 12px 0 #6190E8;
      }
      &.at-menu__item--active,
      &.at-menu__submenu--active {
        background-color: rgba(236, 242, 252, 0.2);

        &::after {
          display: inline-block;
        }
      }
    }
    .at-menu__item {
      padding-left: 24px;

      &:hover,
      &.at-menu__item--active {
        color: $brand-blue-500;
      }
    }
    .at-menu__submenu {
      font-size: $font-size-base;

      &:hover {
        > .at-menu__submenu-title {
          color: $brand-blue-500;
        }
      }
      &-title {
        padding-left: 24px;

        i:last-child {
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -7px;
          transform: rotate(-90deg);
        }
      }
      .at-menu__submenu-icon {
        transition: transform .3s;
      }
      &.at-menu__submenu--opened {
      }
      &.at-menu__submenu--active {
        > .at-menu__submenu-title {
          color: $brand-blue-500;
        }
      }
      .at-menu__submenu {
        font-size: $select-dropdown-font-size-base;
      }
      .at-menu__item {
        padding-left: 32px;
      }
    }
    .at-menu__item-group-title {
      padding-left: 32px;
      font-weight: bold;
    }
  }

  &--inline {
    position: relative;
    border-right: 1px solid $border-color-lighter;

    .at-menu__item,
    .at-menu__submenu {
      position: relative;
      display: block;
      padding: 12px 16px;
      padding-left: 0;
      transition: all .3s;
    }
    .at-menu__item {
      padding-left: 24px;
      transition: all .3s;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        background: #6190E8;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 1px 0 12px 0 #6190E8;
        transition: opacity .2s;
        opacity: 0;
      }

      &:hover,
      &.at-menu__item--active {
        color: $brand-blue-500;
        background-color: rgba(236, 242, 252, 0.2);

        &::after {
          opacity: 1;
        }
      }
    }
    .at-menu__submenu {
      font-size: $font-size-base;

      &:hover {
        > .at-menu__submenu-title {
          color: $brand-blue-500;
        }
      }
      &-title {
        padding-left: 24px;

        i:last-child {
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -7px;
        }
      }
      .at-menu__submenu-icon {
        transition: transform .3s;
        color: $border-color-base;
      }
      &.at-menu__submenu--opened {
        .at-menu__submenu-title {
          font-weight: bold;

        }
        .at-menu__submenu-icon {
          transform: rotate(-180deg);
        }
      }
      &.at-menu__submenu--active {
        > .at-menu__submenu-title {
          color: $brand-blue-500;
        }
      }
      .at-menu__submenu {
        font-size: $select-dropdown-font-size-base;
      }
      .at-menu__item {
        padding-left: 40px;
      }
    }
    .at-menu {
      padding: 8px 0;
    }
    .at-menu__item-group-title {
      padding-left: 32px;
      font-weight: bold;
    }
  }
}
