/**
 * Modal Style
 */
@import '../variables/index.scss';

.at-modal {
  position: relative;
  top: 100px;
  width: auto;
  margin: 0 auto;
  outline: none;
  border: none;
  background-color: $color-white;
  border-radius: $border-radius-base;

  /* elements */
  &__wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    z-index: $zindex-modal;
    outline: 0;
  }
  &__mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(55, 55, 55, .6);
    height: 100%;
    z-index: $zindex-modal;

    &--hidden {
      display: none;
    }
  }
  &__header {
    border-bottom: 1px solid $border-color-lighter;
    padding: 14px 16px;
    line-height: 1;

    p, .at-modal__title {
      display: inline-block;
      width: 100%;
      height: 20px;
      color: $title-color;
      line-height: 20px;
      font-size: $font-size-base;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipse;
      white-space: nowrap;
    }
  }
  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    overflow: hidden;
    cursor: pointer;
    font-size: $font-size-base;
  }
  &__body {
    padding: 16px;
    font-size: $font-size-sm;
    line-height: 1.5;
  }
  &__input {
    .at-input__original {
      margin-top: 8px;
      width: 100%;
    }
  }
  &__footer {
    border-top: 1px solid $border-color-lighter;
    padding: 12px 18px;
    text-align: right;

    .at-btn + .at-btn {
      margin-left: 8px;
    }
  }


  /* modifiers */
  &--hidden {
    display: none !important;
  }
}
