/**
 * Notification Style
 */
@import '../variables/index.scss';

.at-notification {
  position: fixed;
  display: flex;
  right: 16px;
  width: $notification-width;
  padding: $notification-padding;
  color: $notification-text-color;
  line-height: 1.5;
  border-radius: $border-radius-base;
  transition: opacity .3s;
  opacity: 0.9;

  /* element */
  &__icon {
    color: $notification-icon-color;
    font-size: $notification-icon-font-size;
    line-height: 1.5;
    vertical-align: middle;
    margin-right: 8px;
  }
  &__content {
    flex: 1;
    padding-right: 8px;
  }
  &__title {
    color: $notification-text-color;
    font-size: $notification-title-font-size;
  }
  &__message {
    color: $notification-text-color;
    font-size: $notification-message-font-size;
    margin-top: 4px;
  }
  &__close {
    color: $notification-icon-color;
    font-size: $notification-close-font-size;
    cursor: pointer;
  }

  /* modifier */
  &--success {
    background-color: $notification-bg-color-success;
  }
  &--error {
    background-color: $notification-bg-color-error;
  }
  &--warning {
    background-color: $notification-bg-color-warning;
  }
  &--info {
    background-color: $notification-bg-color-info;
  }
  &--with-message {
    padding: $notification-padding-lg;

    .at-notification__icon {
      font-size: 24px;
      line-height: 1.2;
    }
    .at-notification__title {
      font-weight: bold;
    }
    .at-notification__close {
      font-size: $notification-close-font-size-lg;
    }
  }
  &--hover {
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
