/**
 * Radio Style
 */
@import '../variables/index.scss';

@mixin button-size($padding, $font-size) {
  padding: $padding;
  font-size: $font-size;
}

.at-radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  margin-left: 15px;
  color: #1f2d3d;
  font-size: 0;

  &__input {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
  }
  &__inner {
    position: relative;
    cursor: pointer;
    display: inline-block;
    border: 1px solid $border-color-base;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #FFF;
    transition: border .2s;

    &:not(.at-radio--disabled):hover {
      border-color: $brand-color-light;
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform .2s;
      width: 8px;
      height: 8px;
      background-color: $brand-color-light;
      border-radius: 50%;
    }
    &.at-radio--checked {
      border-color: $brand-color-light;

      &::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
    &.at-radio--disabled {
      cursor: $cursor-disabled;
      border-color: $border-color-base;
      background-color: $border-color-lightest;

      &.at-radio--checked::after {
        transform: translate(-50%, -50%) scale(1);
        background-color: $border-color-base;
      }
    }
  }
  &__original {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    outline: none;
    z-index: -1;
  }
  &__label {
    font-size: $font-size-base;
    padding-left: 5px;
    vertical-align: middle;
  }
}

.at-radio-button {
  position: relative;
  display: inline-block;
  overflow: hidden;

  /* element */
  &__inner {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    background: $btn-default-bg;
    border: 1px solid $btn-default-border;
    color: $btn-default-color;
    margin: 0;
    transition: all .2s;
    user-select: none;
    @include button-size($btn-padding-md, $btn-font-size-md);
  }
  &__original {
    position: absolute;
    left: -999px;
    outline: none;
    opacity: 0;
    z-index: -1;

    &:disabled {
      & + .at-radio-button__inner {
        color: $btn-disabled-color;
        cursor: not-allowed;
        background-color: $btn-disabled-bg;
        border-color: $btn-disabled-border;
      }
    }
  }
  &:not(:last-child) {
    margin-right: -1px;
  }
  &:first-child {
    .at-radio-button__inner {
      border-radius: $border-radius-base 0 0 $border-radius-base;
    }
  }
  &:last-child {
    .at-radio-button__inner {
      border-radius: 0 $border-radius-base $border-radius-base 0;
    }
  }

  /* modifier */
  &--small {
    & .at-radio-button__inner {
      @include button-size($btn-padding-sm, $btn-font-size-sm);
    }
  }
  &--normal {
    & .at-radio-button__inner {
      @include button-size($btn-padding-md, $btn-font-size-md);
    }
  }
  &--large {
    & .at-radio-button__inner {
      @include button-size($btn-padding-lg, $btn-font-size-lg);
    }
  }
}

.at-radio-group {
  display: inline-block;
  font-size: 0;
  line-height: 1;
}
