/**
 * Tag
 */
@import '../variables/index.scss';

@mixin tag-style($text-color, $border-color, $background-color) {
  color: $text-color;
  border-color: $border-color;
  background-color: $background-color;
}

.at-tag {
  display: inline-block;
  line-height: 1;
  padding: 5px 10px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid $btn-default-border;
  border-radius: $border-radius-base;
  outline: 0;
  background-color: $btn-disabled-bg;

  &__close.icon {
    font-size: 10px;
    padding-left: 4px;
    margin: 0;
    cursor: pointer;

    &:hover {
      color: tint($text-color, 30%);
    }
  }
  &--default {
    @include tag-style($text-color, $btn-default-border, $btn-disabled-bg);
  }
  &--primary {
    @include tag-style($color-white, $btn-primary-bg, $btn-primary-bg);
  }
  &--success {
    @include tag-style($color-white, $btn-success-bg, $btn-success-bg);
  }
  &--error {
    @include tag-style($color-white, $btn-error-bg, $btn-error-bg);
  }
  &--warning {
    @include tag-style($color-white, $btn-warning-bg, $btn-warning-bg);
  }
  &--info {
    @include tag-style($color-white, $btn-info-bg, $btn-info-bg);
  }
}
