/**
 * TimePicker Style
 */

@import '../variables/index.scss';

/*
 * AtTimePicker
 */
.at-time-picker {
  position: relative;

  /* element */
  &__input {
    position: relative;
    font-size: 0;
    line-height: 1.5;
    outline: 0;
  }

  &__original {
    display: block;
    width: 100%;
    padding: $time-picker-padding-base;
    color: $time-picker-font-color;
    font-size: $time-picker-font-size-base;
    background-color: $time-picker-bg-color;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
    transition: border .2s;
    outline: none;

    &::placeholder {
      color: $time-picker-placeholder-color;
    }
    &:hover {
      border-color: $time-picker-border-color-hover;
    }
    &:focus {
      border-color: $time-picker-border-color-focus;
    }
    &:disabled {
      cursor: $cursor-disabled;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 6px 0 0;
    width: 20px;
    height: 100%;
    color: $time-picker-icon-color;
    font-size: $time-picker-icon-font-size;
    text-align: center;
    pointer-events: none;

    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
    }
  }

  &__clear {
    cursor: pointer;
    pointer-events: auto;
  }

  &__elements {
    max-height: $time-picker-dropdown-height;
    font-size: 0;
  }

  &__element {
    &:first-child:nth-last-child(1) {
      width: 100%;
    }

    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ & {
      width: 50%;
    }

    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ & {
      width: 33.3333%;
    }
  }

  &__dropdown {
    position: absolute;
    width: 100%;
    font-size: $time-picker-dropdown-font-size-base;
    border-radius: $border-radius-base;
    background-color: $time-picker-dropdown-bg-color;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: $zindex-dropdown;
    overflow: hidden;

    &--bottom {
      margin-top: 2px;
    }
  }

  &__hours,
  &__minutes,
  &__seconds {
    display: inline-block;
    max-height: $time-picker-dropdown-height;
    overflow: hidden;

    &:hover {
      overflow-y: auto;
    }
  }

  &__select {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    white-space: normal;
    padding-bottom: $time-picker-select-padding-bottom;
  }

  &__option {
    @include ellipsis();
    width: 100%;
    padding: $time-picker-option-padding-base;
    font-size: $time-picker-dropdown-font-size-base;
    line-height: 1.5;
    text-align: left;
    white-space: nowrap;
    transition: all .3s;
    overflow: hidden;
    cursor: pointer;

    &--selected {
      font-weight: bold;
      background-color: $time-picker-dropdown-option-bg-c-selected;
    }
    &:hover:not(&--disabled),
    &--focus:not(&--disabled) {
      background-color: $time-picker-dropdown-option-bg-c-hover;
    }
    &--disabled {
      cursor: $cursor-disabled;
      color: rgba(0, 0, 0, .25);
    }
  }

  &__addon {
    padding: 8px;
    border-top: 1px solid $time-picker-addon-border-color;
  }

  /* modifier */
  &--disabled {
    .at-time-picker__original {
      cursor: $cursor-disabled;
      border-color: $time-picker-border-c-disabled;
      background-color: $time-picker-selection-bg-color-disabled;

      &:hover {
        border-color: $time-picker-border-c-disabled;
      }
    }

    .at-time-picker__clear {
      pointer-events: none;
    }
  }

  &--normal {
    .at-time-picker__original {
      height: 28px;
      line-height: 28px;
    }
  }
  &--small {
    font-size: $time-picker-font-size-sm;

    .at-time-picker__original {
      height: 24px;
      line-height: 24px;
      font-size: $time-picker-font-size-sm;
    }
    .at-time-picker__option {
      font-size: $time-picker-dropdown-font-size-sm;
    }
  }

  &--large {
    font-size: $time-picker-font-size-lg;

    .at-time-picker__original {
      height: 30px;
      line-height: 30px;
      font-size: $time-picker-font-size-lg;
    }
    .at-time-picker__option {
      font-size: $time-picker-dropdown-font-size-lg;
    }
  }
}
